<div class="center">
  <h1>Exclusive Topics</h1>
  <p>Discover trending posts from our members</p>
</div>

<div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="panel panel-default col-6">
          <div class="panel-heading"><h3><%= post.title %></h3></div>
          <div class="author panel-body">
            <%= post.body %>
            <% if member_signed_in? %>
              <p>
                <%= current_member.name %> &nbsp;&bull; <%= post.created_at %>
              </p>
            <% end %>
          </div>
      </div>
      <% end %>
    </div>
</div>



