<div class="center jumbotron">
  <h1>Welcome to our exclusive clubhouse</h1>
  <p>
    Our members get to meet with friends and new people around the world — to tell stories, ask questions,
    debate, learn and have impromptu conversations on thousands of different topics.
  <p>
  <%= link_to "Discover trending topics", posts_index_path %><br>
  <%= link_to "Join Clase Alta", new_member_registration_path %>
</div>